@fa-font-path:   "./../../ulitilt/font-awesome-4.7.0";

$border-space: 16px;

.product-details {
    font-family: 'Kotta One', serif;
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-template-rows: auto;
  grid-gap: 2%;
  padding: 8% 5% 5% 5%;
  .product-content {
    padding: 0px 5%;
  }
  .product-price {
    text-align: left;
  }
  h1 {
    text-align: left;
    padding: 0px;
  }
  .product-price {
    padding: $border-space 0px $border-space 0px;
    border-bottom: 1px solid darken(white, 15);
  }
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px $border-space 0px;
    border-bottom: 1px solid darken(white, 15);
  }
  li {
    padding: $border-space 0px 0px 0px ;
  }
  ul li::before {
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: darken(white, 60);
    font-size: 18px;
    padding-right: 0.5em;
  }
  .product-description {
    padding: $border-space 0px $border-space 0px;
    border-bottom: 1px solid darken(white, 15);
  }
  .product-navigation {
    display: flex;
    justify-content: space-between;
    padding: $border-space 0px $border-space 0px;
    border-bottom: 1px solid darken(white, 15);
  }
}


@media (min-width: 1200px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  .product-details {
    grid-template-columns: 1fr;
    padding: 12% 5% 5% 5%;
    .product-content {
      padding: 6% 5%;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px){
  .product-details {
    grid-template-columns: 1fr;
    padding: 12% 5% 5% 5%;
    .product-content {
      padding: 6% 5%;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .product-details {
    grid-template-columns: 1fr;
    padding: 20% 5% 5% 5%;
    .product-content {
      padding: 10% 5%;
    }
  }
}

// Small devices (phones)
@media (min-width: 0px) and (max-width: 575px) {
  .product-details {
    grid-template-columns: 1fr;
    padding: 20% 5% 5% 5%;
    .product-content {
      padding: 10% 5%;
    }
  }
}
