.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4;
  grid-gap: 5px;
  margin: 0px auto 50px 0px;
  font-size: 24px;
  img {
    width: 80%;
  }
  .img {
    text-align: center;
    align-self: center;
  }
  .p {
    text-align: center;
    padding: 5% 15%;
    align-self: center;
  }
  .about-image-1 {
    @extend .img;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .p-1 {
    @extend .p;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .about-image-2 {
    @extend .img;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .p-2 {
    @extend .p;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .about-image-3 {
    @extend .img;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .p-3 {
    @extend .p;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
}
