.gallery {
  width: 80%;
  margin: 20px auto;
  img {
    box-shadow: 10px 10px 24px -8px rgba(0,0,0,0.75);
    transition: 0.2s ease-in;
    cursor: -webkit-zoom-in !important;
  }
  img:hover {
    transform: scale(1.1);
  }
  .react-photo-gallery--gallery div {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
  }
}
.container_9tizg4 {
  background-color: rgba(0, 0, 0, 0.4) !important;
  img {
    box-shadow: 10px 10px 24px -8px rgba(0,0,0,0.75);
  }
}
