.gallery {
  width: 80%;
  margin: 20px auto;
  img {
    box-shadow: 10px 10px 24px -8px rgba(0,0,0,0.75);
    transition: 0.2s ease-in;
    cursor: -webkit-zoom-in !important;
  }
  img:hover {
    transform: scale(1.1);
  }
  .react-photo-gallery--gallery div {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    img {
        justify-self:center;
    }
  }
}
.container_9tizg4 {
  background-color: rgba(0, 0, 0, 0.4) !important;
  img {
    box-shadow: 10px 10px 24px -8px rgba(0,0,0,0.75);
  }
}


@media (min-width: 1200px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px){
  .gallery {
    .react-photo-gallery--gallery div {
      grid-template-columns: repeat(5, 1fr);
      img {
        height: 10vw;
        width: 90%;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .gallery {
    .react-photo-gallery--gallery div {
      grid-template-columns: repeat(3, 1fr);
      img {
        height: 20vw;
        width: 90%;
      }
    }
  }
}

// Small devices (phones)
@media (min-width: 0px) and (max-width: 575px) {
  .gallery {
    .react-photo-gallery--gallery div {
      grid-template-columns: repeat(1, 1fr);
      img {
        height: 60vw;
        width: 100%;
      }
    }
  }
}
