@fa-font-path:   "./../../ulitilt/font-awesome-4.7.0";
.sort-offers {
  font-family: 'PT Sans', sans-serif;
  ul {
    list-style-type: none;
    padding: 0px;
  }
  li {
    margin: 10px auto 0px auto;
    display: block;
    background: rgba(255, 255, 255, 1);
    padding: 12px 0px 12px 10%;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
  }
  #minPrice, #maxPrice {
   width: 20%;
   padding-left: 3%;
   margin: 0px 3%;
   height: 25px;
   outline: none;
   border-radius:5px;
   border: 1px solid  darken(white, 10);
   color: black;
   font-size: 16px;
 }
 #search-input {
   width: 87%;
   padding-left: 3%;
   outline: none;
   height: 25px;
   border-radius: 5px;
   border: 1px solid darken(white, 10);
   color: black;
   font-size: 16px;
 }
  ul >:last-child::after {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 1em;
    display: block;
    position: absolute;
    top: 16px;
    right: 12%;
  }
  .selected {
    background-color: darken(white, 10);
  }
}
