.contact {
    text-align: center;
    grid-gap: 20px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    h3 {
      font-family: 'Encode Sans', sans-serif;
      font-size: 28px;
    }
    h1 {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
    .map {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
    .contact-content {
      font-family: 'Encode Sans', sans-serif;
      font-size: 28px;
      align-self: center;
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      margin: 20px 10% 40px 10%;
    }
    p {
      margin: 10px;
      font-size: 24px;
    }
    .social-media {
      align-self: center;
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
}
